<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>トップページに移設予定</h1>
    <script type="text/javascript">
    <!--
    var msg = new Array();
    msg[0] = '<p><em>一杯のコーヒーはインスピレーションを与え,一杯のブランデーは苦悩を取り除く<br />ルートヴィヒ・ヴァン・ベートーヴェン</em></p>';
    msg[1] = '<p><em>よいコーヒーとは、悪魔のように黒く、地獄のように熱く、天使のように純粋で、愛のように甘い<br />シャルル＝モーリス・ド・タレーラン＝ペリゴール</em></p>';
    msg[2] = '<p><em>数学者はコーヒーを定理に変える機械だ<br />ポール・エルデシュ</em></p>';
    msg[3] = '<p><em>強いコーヒーをたっぷり飲めば目がさめる。コーヒーは暖かさと不思議な力と、心地よき苦痛を与えてくれる。余は無感よりも、苦痛を好みたい。<br />ナポレオン・ボナパルト</em></p>';
    msg[4] = '<p><em>人間の意思の力はその人が飲んだコーヒーの量に比例する<br />ジェームス・マッキントッシュ</em></p>';
    msg[5] = '<p><em>更新しよう、さすれば内容が変わるだろう<br />京ニャ</em></p>';
    var no = Math.floor(Math.random() * msg.length);
    // 表示
    document.write(msg[no]);
    // 表示
    // -->
    </script>
  </div>
</div>
