<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="mainVisual">
  <div class="jumbotron">
    <div class="container">
      <blockquote>
        <p><%=@message.message%></p>
        <footer>
        <cite title="Source Title"><%=@message.by%></cite></footer>
      </blockquote>
    </div>
  </div>
</div>

<div class="container">
<pre><kbd>new</kbd>&nbsp;2016.2.17&nbsp;お知らせやできごとをいれようかな</pre>
<pre><kbd>new</kbd>&nbsp;2016.2.17&nbsp;お知らせやできごとをいれようかな</pre>
<pre><kbd>new</kbd>&nbsp;2016.2.17&nbsp;<a href="http://www.re-member.jp/" target="_blank">島根のこと</a></pre>
  <!-- /container--></div>
