<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="mainVisual">
  <div class="jumbotron">
    <div class="container">
      <blockquote>
        <p><%=@message.message%></p>
        <footer>
          <cite title="Source Title"><%=@message.by%></cite>
        </footer>
      </blockquote>
    </div>
  </div>
</div>
<div class="container">
  <pre><kbd>new</kbd>&nbsp;2016.3.12&nbsp;サイトオープン</pre>
  <pre><kbd>new</kbd>&nbsp;2016.3.9&nbsp;<a href="/projects">プロジェクトページ更新</a></pre>
  <pre>2016.3.6&nbsp;検索サイトに表示されないようクローラー対策完了</pre>
  <pre>2016.2.17&nbsp;開発スタート</pre>
</div>
