<div class="SubmainVisual">
  <div class="Subjumbotron">
  <!-- /jumbotron--></div>
<!-- /mainVisual--></div>
<div class="container">
  <h1><%= @event.title %></h1>
    <div class="col-md-4"></div>
    <div class="col-md-4 col-md-offset-4">
      <p>
        <%= link_to 'イベント一覧へもどる', events_path, class: 'btn btn-default btn-sm' %>
      </p>
    </div>
<!-- /container--></div>
<div class="container">
  <p class="date"><%= @event.date.strftime("%Y年%m月%d日") %></p>
  <p><%= @event.contents %></p>
<!-- container --></div>
