<div class="SubmainVisual">
  <div class="Subjumbotron">
  <!-- /jumbotron--></div>
<!-- /mainVisual--></div>
<div class="container">
  <h1>C&amp;C&nbsp;プロジェクト</h1>
<!-- /container--></div>

<div class="container project_box">
  <h3>C&amp;C茶話会</h3>
  <p><kbd>毎月</kbd>&nbsp;<kbd>新宿,その他</kbd></p>
  <p class="text">Coffee and Cakesの主たる行事。毎月メンバー各々が発表したいことを発表する勉強会。<br>
    ジャンルを問わず催される勉強会の内容は、二次会、三次会の喫茶店でも繰り広げられる。欠席裁判が行われることも多々あり。<br>
    開催、発表の立案に関してはメーリングリストで行われる。新宿の西武珈琲の個室会議室で開催されることが恒例であるが、面白そうな場所であれば、開催場所の提案は随時募集。</p>
</div><!-- /container-->

<div class="container project_box">
  <h3>統計勉強会 Think Stats</h3>
  <p><kbd>毎月</kbd>&nbsp;<kbd>新宿</kbd>&nbsp;</p>
  <p class="text">課題本<em>Think Stats</em>を用いて統計学のお勉強。</p>
  <p><a href="https://coffeeandcakes.slack.com/messages/think_stats/details/" target="_blank" type="button" class="btn btn-default btn-xs">Slackチャンネル</a></p>
</div><!-- /container-->

<div class="container project_box">
  <h3>Hanakin</h3>
  <p><kbd>毎週金曜日</kbd>&nbsp;<kbd>大崎</kbd>&nbsp;</p>
  <p class="text">仕事終わりの花の金曜日、黄金色のBeerの代わりにノートPCや本を片手にカフェで各自作業。今は大崎のゲートシティ（オフィスビルの中にあるとても広いフードコートのような不思議な場所）にて実施。<br>高校時代の放課後の延長のようなもの。スマホばかりいじってないで勉強しような。<br>
  参加可否などはSlackにて。<br>
  </p>
  <p><a href="https://coffeeandcakes.slack.com/messages/project_hanakin/details/" target="_blank" type="button" class="btn btn-default btn-xs">Slackチャンネル</a></p>
</div><!-- /container-->

<div class="container project_box">
  <h3>東京論理同人会</h3>
  <p><kbd>毎月</kbd>&nbsp;<kbd>新宿</kbd>&nbsp;</p>
  <p class="text">仕事終わりの金曜日、</p>
</div><!-- /container-->

<div class="container project_box">
  <h3>納涼船</h3>
  <p><kbd>毎年夏</kbd>&nbsp;<kbd>東京湾</kbd>&nbsp;</p>
  <p class="text">芝埠頭から出航するフェリーが、毎年夏に納涼船として出航。飲み放題で2600円とリーズナブル。どうやら船を降りた後に大森で深夜卓球を果たすまでが納涼イベントの様だ。<br>
    年々衰えて行くを体力をするための恒例行事だ。</p>
</div><!-- /container-->

<div class="container project_box">
  <h3>C&amp;Cポータル運用</h3>
  <p><kbd>不定期</kbd>&nbsp;<kbd>随時募集中</kbd>&nbsp;<kbd>福利厚生なし</kbd>&nbsp;<kbd>ボランティアエンジニア</kbd>&nbsp;</p>
  <p class="text">本サイト、C&amp;Cポータルの運用を行う。HTMLやRubyの勉強にもなり、開発はGitHubを通して管理されるので最新の手法でプロジェクト進行を実務で身につけられる。GitHub管理スキルのおかげで転職できました、なんてね。<br>
  運用の内容はイベントのログ登録以外では、HPを実験場としてプログラムのテストを行うため義務的な作業は無い。興味がある方はgennei氏まで。</p>
</div><!-- /container-->
