<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Coffee and Cakes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "EVENT", events_path %></li>
        <li><%= link_to "MEMBER", users_path %></li>
        <li><%= link_to "PROJECT", projects_path %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <%= Date.today.strftime("%Y.%m.%d") %>
          </a>
        </li>
        <li>
          <button type="button" class="btn btn-default navbar-btn">
              <a href="mailto:coffee-and-cakes@googlegroups.com?body=C%26C%82%cc%83%81%81%5b%83%8a%83%93%83O%83%8a%83X%83g%82%d6%83%81%81%5b%83%8b%82%b5%82%dc%82%b7"><span class="glyphicon glyphicon-envelope"></span></a>
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
