<!DOCTYPE html>
<html>
<head>
  <title>C&amp;C -Coffee and Cakes-</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Coffee and Cakes</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">HOME</a></li>
          <li><a href="/events">EVENT</a></li>
          <li><a href="/users">MEMBER</a></li>
          <!--<li class="dropdown">
            <a href="/events" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">EVENT<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/events">index</a></li>
              <li><a href="/events/new.html">new</a></li>
              <li><a href="/events/edit.html">edit</a></li>
              <li><a href="/events/show.html">show</a></li>
            </ul>
          <li class="dropdown">
            <a href="/users" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">MEMBER<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users">index</a></li>
              <li><a href="/users/new.html">new</a></li>
              <li><a href="/users/edit.html">edit</a></li>
              <li><a href="/users/show.html">show</a></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
             -->
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <!-- <li><a href="../navbar/">Default</a></li>
          <li class="active"><a href="./">Static top <span class="sr-only">(current)</span></a></li> -->
          <li>
            <!-- 4.ボタン -->
            <button type="button" class="btn btn-default navbar-btn">
                <span class="glyphicon glyphicon-envelope"></span>
            </button>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73588283-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
